
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env

.vscode/
.idea/
*.swp


# 运行过程中的检查点
.ipynb_checkpoints/

*.pth
*.pt
*.ckpt
*.bin
*.safetensors
*.h5

# 训练日志 (比如 Tensorboard 或 WandB)
runs/
wandb/
logs/
*.log


data/
dataset/
output/

.cache/